.faq-section {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .faq-container {
    display: flex;
    justify-content: space-between;
  }
  
  .faq-block {
    width: 48%;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .faq-question p {
    margin: 0;
  }
  
  .contact-us {
    background-color: 4CAF50;
    color: rgb(79, 213, 90);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
  }
  